.gradle
.idea
.kotlin
build
*.iml
.DS_Store
local.properties
captures
xcuserdata
Pods
*.xcworkspace
.omc
.claude/*
!.claude/skills/
*.log
kotlin-js-store/
.fleet/
/demo/build/
/library/build/
xcuserdata
